<script lang="ts">
	import { page } from '$app/stores';
	import { NavBar } from '$lib';
	import '../app.css';
</script>

<div class="container">
	<NavBar currentPage={$page.url.pathname === '/' ? 'register' : 'participants'} />
	<div class="page-container">
		<slot />
	</div>
</div>

<style>
	.container {
		display: flex;
		flex-flow: column;
		align-items: center;
		height: 100%;
		padding: 0px 80px;
		overflow-x: hidden;

		& .page-container {
			margin: 64px 0px;
			padding: 64px;
			width: 100%;
			max-width: 1243px;
			box-sizing: border-box;
			background: linear-gradient(var(--manga-2), var(--manga-2)) padding-box,
				var(--border-color) border-box;
			border: 5px solid transparent;
			border-radius: 80px;
			flex: 1 1 auto;
		}
	}

	@media only screen and (max-width: 1120px) {
		.container {
			padding: 0px 24px;
		}

		.container .page-container {
			margin: 24px 0px;
			padding: 32px 12px;
			border-radius: 40px;
		}
	}
</style>
