<script lang="ts">
	import { Button, Checkbox, Dropdown, InputField, TextArea } from '$lib';
	import { registerSchema } from '$lib/schemas/register.js';
	import { superForm } from 'sveltekit-superforms/client';

	const dropdownValues = ['Student', 'Software Engineer', 'Designer', 'Other'];
	export let data;
	const { form, errors, enhance, constraints, message } = superForm(data.form, {
		taintedMessage: null,
		validators: registerSchema
	});
</script>

<form method="post" use:enhance class="form-container">
	<div class="title">
		<h1>REGISTER HERE</h1>
		<h2>Welcome to Hacktoberfest 2023 <br /> Fill in your information in order to register</h2>
	</div>

	<div class="form-inputs">
		<div class="input-row">
			<InputField
				id="name"
				name="name"
				label="Name *"
				placeholder="Enter your name"
				bind:value={$form.name}
				constraints={$constraints.name}
				errorText={$errors.name?.[0]}
			/>
			<InputField
				id="lastName"
				name="lastName"
				label="Last name *"
				placeholder="Enter your last name"
				bind:value={$form.lastName}
				constraints={$constraints.lastName}
				errorText={$errors.lastName?.[0]}
			/>
		</div>
		<div class="input-row">
			<InputField
				id="gitlab"
				name="gitlab"
				label="Gitlab username *"
				placeholder="Enter your Gitlab username"
				bind:value={$form.gitlab}
				constraints={$constraints.gitlab}
				errorText={$errors.gitlab?.[0]}
			/>
			<InputField
				id="kaggle"
				name="kaggle"
				label="Kaggle username *"
				placeholder="Enter your Kaggle username"
				bind:value={$form.kaggle}
				constraints={$constraints.kaggle}
				errorText={$errors.kaggle?.[0]}
			/>
		</div>
		<div class="input-row">
			<InputField
				id="email"
				name="email"
				label="Email *"
				placeholder="Enter your email address"
				bind:value={$form.email}
				constraints={$constraints.email}
				errorText={$errors.email?.[0]}
			/>
			<InputField
				id="phone"
				name="phone"
				label="Phone"
				placeholder="Enter your phone number"
				bind:value={$form.phone}
				constraints={$constraints.phone}
				errorText={$errors.phone?.[0]}
			/>
		</div>

		<div class="input-row">
			<Dropdown
				id="status"
				name="status"
				label="Status *"
				values={dropdownValues}
				bind:value={$form.status}
				errorText={$errors.status?.[0]}
			/>
			<!-- <div class="filler" /> -->
			<InputField
				type="date"
				id="dob"
				name="dob"
				label="Date of birth"
				bind:value={$form.dob}
				errorText={$errors.dob?.[0]}
				constraints={$constraints.dob}
			/>
		</div>

		<TextArea
			id="about"
			name="about"
			placeholder="Write your bio"
			label="About you"
			bind:value={$form.about}
			constraints={$constraints.about}
		/>

		<div class="interests">
			<h3>What are you interested in</h3>
			<div class="interests-container">
				<div class="interests-column">
					<Checkbox id="ai" name="ai" label="AI" bind:checked={$form.ai} />
					<Checkbox id="ml" name="ml" label="ML" bind:checked={$form.ml} />
					<Checkbox id="Frontend" name="frontEnd" label="Frontend" bind:checked={$form.frontEnd} />
				</div>
				<div class="interests-column">
					<Checkbox id="Backend" name="backEnd" label="Backend" bind:checked={$form.backEnd} />
					<Checkbox
						id="Fullstack"
						name="fullStack"
						label="Fullstack"
						bind:checked={$form.fullStack}
					/>
				</div>
			</div>
		</div>
	</div>

	<div class="button-container">
		<Button text="Submit" />
	</div>
	{#if $message}
		<small>{$message}</small>
	{/if}
</form>

<style>
	.form-container {
		position: relative;
		display: flex;
		flex-direction: column;
		gap: 90px;
		align-items: center;

		& .title h1 {
			margin-bottom: 32px;
		}

		& .form-inputs {
			width: 100%;
			display: flex;
			flex-direction: column;
			gap: 64px;

			& .input-row {
				display: flex;
				gap: 24px;
				justify-content: space-between;

				& .filler {
					flex: 1;
				}
			}

			& .interests {
				& h3 {
					margin-bottom: 24px;
				}

				& .interests-container {
					display: flex;
					width: 100%;

					& .interests-column {
						display: flex;
						flex-direction: column;
						gap: 24px;
						flex: 1;
					}
				}
			}
		}

		& .button-container {
			display: flex;
			justify-content: flex-end;
			width: 100%;
		}

		& small {
			position: absolute;
			bottom: -40px;
			color: #e25b4e;
		}
	}

	@media only screen and (max-width: 1120px) {
		.form-container {
			gap: 40px;
		}

		.form-container .title h1 {
			margin-bottom: 12px;
		}

		.form-container .form-inputs {
			gap: 32px;
		}

		.form-container .form-inputs .input-row {
			flex-direction: column;
		}

		.form-container .button-container {
			justify-content: center;
		}
	}
</style>
