@font-face {
	font-family: 'JetBrainsMono';
	src: url('/fonts/JetBrainsMono[wght].ttf');
}

* {
  font-family: JetBrainsMono;
}

body {
	margin: 0;
	background: var(--manga-2);
	color: var(--void-2);
	height: 100%;
	overflow-x: hidden;
}

h1 {
	font-size: var(--font-xl);
	font-weight: var(--weight-bold);
	line-height: 84.21px;
	margin: 0;
	text-align: center;
}

h2 {
	font-size: var(--font-large);
	font-weight: var(--weight-medium);
	line-height: 42.24px;
	margin: 0;
	text-align: center;
}

h3 {
	font-size: var(--font-normal);
	font-weight: var(--weight-medium);
	line-height: 31.68px;
	margin: 0;
}

input::placeholder, textarea::placeholder {
	/* font-family: JetBrainsMono; */
	font-size: var(--font-small);
	font-weight: var(--weight-regular);
	line-height: 26.4px;
	color: var(--manga-4);
	margin: 0;
}

.font-card {
	font-size: var(--font-normal);
	font-weight: var(--weight-regular);
	line-height: 24px;
	margin: 0;
}

.font-cta {
	font-size: var(--font-normal);
	font-weight: var(--weight-extra-bold);
	line-height: 31.68px;
}

.font-button {
	font-size: var(--font-normal);
	font-weight: var(--weight-medium);
	line-height: 31.68px;
}

:root {
  --manga-2: #EFEDEF;
  --manga-4: #655F67;
  --void-2: #0F0913;
  --bavarian-blue-3: #14586B;
  --bavarian-blue-4: #0D3640;
  --gradient: linear-gradient(to right bottom, #79c3c6, #e25b4e);
  --border-color: linear-gradient(to right bottom, #e25b4e, #79c3c6);

	--font-small: 20px;
	--font-normal: 24px;
	--font-large: 32px;
	--font-xl: 70px;

	--font-mobile-xs: 12px;
	--font-mobile-small: 14px;
	--font-normal-normal: 16px;
	--font-mobile-large: 20px;
	--font-mobile-xl: 24px

	--weight-regular: 400;
	--weight-medium: 500;
	--weight-bold: 700;
	--weight-extra-bold: 800;
}

@media only screen and (max-width: 1120px) {
	h1 {
		font-size: var(--font-mobile-xl);
		line-height: 32px;
	}

	h2 {
		font-size: var(--font-mobile-small);
		line-height: 18px;
	}

	h3 {
		font-size: var(--font-mobile-xs);
		line-height: 16px;
	}

	.font-card {
		font-size: var(--font-mobile-xs);
	}

	.font-cta {
		font-size: var(--font-mobile-normal);
	}

	.font-button {
		font-size: var(--font-mobile-large);
	}

	input::placeholder, textarea::placeholder {
		font-size: var(--font-mobile-xs);
	}
}