<script lang="ts">
	export let text: string;
</script>

<button type="submit" class="font-cta">{text}</button>

<style>
	button {
		max-width: 230px;
		width: 100%;
		height: 56px;
		padding: 12px 24px;
		background: var(--bavarian-blue-4);
		color: var(--manga-2);
		border-radius: 4px;
		cursor: pointer;
	}

	button:hover,
	button:active {
		background: var(--bavarian-blue-3);
	}
</style>
