<script lang="ts">
	import Logo from '$lib/images/logo-hacktoberfest.svg';

	export let currentPage: string;
</script>

<nav>
	<a href="/"><img src={Logo} alt="Hacktoberfest 2023" class="logo" /></a>
	<div class="buttons">
		<a href="/" class={`font-button ${currentPage === 'register' ? 'underline' : ''}`}>Register</a>
		<a
			href="/participants"
			class={`font-button ${currentPage === 'participants' ? 'underline' : ''}`}>Participants</a
		>
	</div>
	<div class="filler" />
</nav>

<style>
	nav {
		width: 100%;
		position: relative;
		display: flex;
		justify-content: space-between;
		padding: 32px 32px 0px 32px;

		& .logo {
			width: 262px;
			height: 64px;
		}

		& .buttons {
			display: flex;
			justify-content: center;
			align-items: center;
			gap: 64px;

			& a {
				color: var(--void-2);
				text-decoration: none;
			}

			& .underline {
				text-decoration: underline;
				text-underline-offset: 8px;
			}
		}

		& .filler {
			width: 262px;
		}
	}

	@media only screen and (max-width: 1120px) {
		nav {
			flex-direction: column;
			align-items: center;
			padding: 12px 24px 0px 24px;
		}

		nav .buttons {
			gap: 24px;
		}
	}
</style>
