<script lang="ts">
	import type { HTMLTextareaAttributes } from 'svelte/elements';

	export let id: string;
	export let name: string;
	export let placeholder: string;
	export let label: string;
	export let value: string = '';
	export let constraints: any;
	export let rest: HTMLTextareaAttributes | null = null;
</script>

<div class="container">
	<label for={id}>
		<h3>{label}</h3>
	</label>
	<textarea {id} {name} placeholder={`| ${placeholder}`} rows={4} bind:value {...constraints} {...rest} />
</div>

<style>
	.container {
		flex: 1;
		& textarea {
			width: 100%;
			box-sizing: border-box;
			max-height: 135px;
			padding: 12px 24px;
			background: linear-gradient(var(--manga-2), var(--manga-2)) padding-box,
				var(--border-color) border-box;
			border: 3px solid transparent;
			border-radius: 4px;
			font-size: var(--font-small);
			font-weight: var(--weight-regular);
			line-height: 26.4px;
			color: var(--manga-4);
		}

		& label h3 {
			margin-bottom: 24px;
		}
	}
</style>
